{% extends '::base.html.twig' %}
{% block body %}
    <h1>Call Reference:</h1>
    {% for api, call in callList %}
        <h2>{{ api }}</h2>
        <ul>
            {% for callName in call %}
                <li><a href="{{ path('callExample',{'api':api,'callName':callName}) }}">{{ callName }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
